@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Work+Sans:wght@600&display=swap');

/* Global Styles */

body {
    font-family: 'Poppins', sans-serif;
}

/* Header and Nav Styles */

header {
    margin: 0;
    padding: 0;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.row {
    padding-right: 0;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 0;
    margin: 0;
}

.top-bar .menu-item .nav-link {
    border-right: solid 1px #cccccc;
}

.top-bar .menu-item a:hover{
    color: rgba(0,0,0,0.8) !important;
}

.top-bar .menu-item:last-child .nav-link {
    border-right: none;
}

.page-wrap {
    padding: 2rem 0;
}

.logo-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    border: grey 1px solid;
    border-radius: 25px;

}

.business-name {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.contact {
    display: flex;
    justify-content: end;
    height: 30px;
    background-color: #f1f1f1;
    border-bottom: solid 1px #cccccc;

}

.contact-pwrapper {
    margin-right: 20px;
}

.icons {
    font-size: 1.2rem;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    color: rgb(66, 103, 178) 1px solid;
    border-right: solid 1px #cccccc;
}

.icons:hover {
    color: rgb(66, 150, 200);
}

.phone {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-right: solid 1px #cccccc;
}

.phone:hover {
    color: #ff8080;
}

/* Page Wrap Section remove padding */

.page-wrap {
    padding: 0;
}

/* Featured Image Styles */

.featured-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/* Footer and Footer Nav Styles */

.footer-contact {
    padding-left: 50px;
}

.footer-nav {
    padding-right: 20px;
}

.footer-nav li{  
    display: flex;
    justify-content: center;
}

.footer-nav li a {
   width: 100px;
   text-align: center; 
}

/* Main Content Styles */

.content { 
    margin: 50px 0 0 0;
}

.wp-block-column {
    padding: 0 20px 0 20px;
}

.wp-block-column p {
    margin: 20% 0 0 0;
    
    text-align: left;
}

.wp-block-column:nth-of-type(odd) p {
    padding: 0 0 0 50px;
}

.wp-block-column:nth-of-type(even) p {
    padding: 0 50px 0 0;
}

/* .wp-block-image {
    display: flex;
    justify-content: center;
}

.size-large img {
    width: 700px;
    height: auto;
} */

/* Media Queries */
@media only screen and (max-width: 800px) {
    .footer-nav li{
        justify-content: center;
    }

    .footer-contact {
        margin: 0;
        text-align: center;
    }

    .footer-contact p {
        padding: 0 10px 0 10px;
    }

    .phone {
        text-decoration: none;
        font-size: 1rem;
        padding: 0 5px 0 0;
        margin: 0 3px 0 0;
    }

    .logo {
        width: 75px;
        height: 75px;
        border: grey 1px solid;
        border-radius: 25px;
    }

    .line-break {
        border-bottom: 1px solid #cccccc;
    }
    
    
    
}



@media only screen and (max-width: 600px) {
    .footer-nav li{
        justify-content: center;
    }

    .footer-contact {
        margin: 0;
        text-align: center;
    }

    .footer-contact p {
        padding: 0 10px 0 10px;
    }

    .top-bar{
        display: block;
    }

    .phone {
        text-decoration: none;
        font-size: 1rem;
        padding: 0 5px 0 0;
        margin: 0 3px 0 0;
    }
    .show {
        margin-bottom: 70% !important;
    }

    .logo {
        width: 75px;
        height: 75px;
        border: grey 1px solid;
        border-radius: 25px;
    }

    .menu-item .nav-link {
        border-right: none;
    }
    

    
    
}
